body {
  background-color: #F8E6A6;
  /* background-image: url("images/fondo.png");
  background-size: cover; */
  font-family: nunito;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #ffffff;
}
 
header .search-box {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #62013C;
  margin-left: 100px;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 5px;
}  

header .search-box::placeholder {
  color: #62013C;
}

header img {
  width: 200px;
  height: auto;
}

nav {
  list-style: none;
  display: flex;
  margin-right: 100px;
}
  
nav button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  margin: 0px 5px;
  font-weight: bolder;
  border-radius: 5px;
}


header .button-login {
  color: #62013C;
  background-color: #ffffff;
  border: #62013C 1px solid;
}

header .button-login:hover {
  color: #ffffff;
  background-color: #62013C;
  border: #62013C 1px solid;
}

header .button-signup {
  color: #ffffff;
  background-color: #62013C;
  border: #62013C 1px solid;
}

header .button-signup:hover {
  color: #62013C;
  background-color: #ffffff;
  border: #62013C 1px solid;
}

.divider {
  border: none;
  height: 1px;
  background-color: #272728;
  margin: 0.5px 0;
}

main {
  display: flex;
  justify-content: center;
}

main .signup-text, main .signup-box {
  margin-top: 100px;
  width: 550px;
  height: 820px;
  padding: 20px;
}

main .signup-text {
  background-color: #3E0226;
  border-radius: 5px 0 0 5px;
}

main .signup-text h1 {
  margin-top: 60px;
  margin-bottom: 20px;
}

main .signup-text h1, main .signup-text p {
  margin-left: 80px;
  color: #ffffff;
}

main .signup-text a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
}

main .signup-text a:hover {
  text-decoration: underline;
}

main .signup-box {
  background-color: #ffffff;
  border-radius: 0 5px 5px 0;
}

main .signup-box .other-signup {
  margin-top: 60px;
}

main .signup-box .button-other-signup {
  background-color: #ffffff;
  color: #0B2149;
  border: solid 1px #000000;
  padding: 12px 5px 1px 5px;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px 14%;
}

main .signup-box .button-other-signup img, main .signup-box .button-other-signup p {
  display: inline-block;
  justify-content: center;
}

main .signup-box .button-other-signup p {
  margin-left: 20px;
}

main .signup-box .button-other-signup img {
  width: 6.5%;
  aspect-ratio: 4/3;
  object-fit: contain;
}

main .signup-box form {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
  
main .signup-box .user-box {
  position: relative;
  margin-bottom: 20px;
  margin: 2px 14%;
}

main .signup-box .inline {
  margin-left: 12.3%;
  width: 75%;
  display: inline-flex;
}

main .signup-box .user-box-inline {
  margin-bottom: 20px;
  margin: 2px 1.8%;
}
  
main .signup-box .user-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #888;
  border-radius: 5px;
}

main .signup-box .user-box-inline input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #888;
  border-radius: 5px;
}
  
main .signup-box .user-box label {
  padding: 10px 0;
  font-size: 16px;
}

main .signup-box .user-box-inline label {
  padding: 10px 0;
  font-size: 16px;
}

main .signup-box .user-box p {
  font-size: 14px;
  color: #797B81;
}

main .signup-box .signup-button {
  background-color: #62013C;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 20px 14% 0 14%;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

main .signup-box .message1 {
  margin: 10px 14%;
  color: #CA067C;
  text-decoration: none;
  font-weight: bolder;
}

main .signup-box .message1:hover {
  text-decoration: underline;
}
  
main .signup-box .message2 {
  text-align: center;
  margin-top: 20px;
  color: #000000;
}
  
main .signup-box .message2 a {
  color: #CA067C;
  text-decoration: none;
  font-weight: bolder;
}

main .signup-box .message2 a:hover {
  text-decoration: underline;
}

footer {
  background-color: #3e0226;
  margin-top: 110px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

footer article {
  flex: 1;
}

footer .mission {
  padding: 20px 130px;
  flex-basis: 50%;
}


footer .mission p {
  color: #ca067c;
  font-size: 20px;
  padding-left: 12px;
  margin-top: 10px;
}

footer .about {
  padding-top: 30px;
  padding-right: 30px;
}

footer .course {
  padding-top: 30px;
  margin-right: 30px;
}

footer .contact {
  padding-top: 30px;
  margin-right: 30px;
}

footer .apps {
  padding-top: 30px;
  margin-right: 165px;
}

footer .about p, footer .apps p {
  color: #ffffff;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

footer h3 {
  color: #ca067c;
  font-size: 14px;
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline white;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  font-size: 12px;
  margin-bottom: 10px;
  color: #ffffff;
}

footer .apps img {
  width: 100px;
  height: auto;
  padding-top: 6px;
}

footer .more {
  font-size: 12px;
  padding-top: 90px;
  padding-left: 130px;
  flex-basis: 50%;
}

footer .more p, footer .more a {
  display: inline-block;
  margin: 0 10px; 
}

footer .more p {
  color: #e4088c;
  margin-bottom: 5px;
}

footer .more a {
  color: #ffffff;
  margin-right: 10px;
}

footer .socials {
  padding-top: 70px;
  padding-left: 120px;
}

footer .socials img {
  width: 15%;
  aspect-ratio: 4/3;
  object-fit: contain;
}